<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间定义-->
<mapper namespace="com.codelin.ems.dao.EmpDao">

<select id="findAll" resultType="Emp">
    select id, name, salary, age
    from t_emp;
</select>
</mapper>