<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间定义-->
<mapper namespace="com.codelin.ems.dao.UserDao">
    <!--保存用户-->
    <insert id="save" parameterType="User">
        insert into t_user values (#{id},#{username},#{realname},#{password},#{sex})
    </insert>
    
    <!--登录的方法-->
    <select id="findByUsernameAndPassword" resultType="User">
        select id,username,password,sex from t_user where username=#{username} and password=#{password}
    </select>
</mapper>